@model Website.Entities.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="main-box p-5 position-absolute text-center top-50 start-50 translate-middle">
    <h1 class="mb-5">Edit category</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label fw-bold mb-3"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger mt-2  mw-350"></span>
        </div>
        <div class="form-group d-flex mt-4">
            <div class="me-2 fs-3">
                <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
            </div>
            <input type="submit" value="Edit" class="btn-gradient border-solid flex-fill p-2 text-center">
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

