@model Website.Entities.WorkTime

@{
    ViewData["Title"] = "CreateUser";
}

<h2>Create User</h2>

@using (Html.BeginForm("CreateUser", "WorkTimes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="WorkingDay" class="control-label">Working Day:</label>
        <input asp-for="WorkingDay" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="WorkingHours" class="control-label">Working Hours:</label>
        <input asp-for="WorkingHours" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

