@model Website.Entities.WorkTime
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@{
    ViewData["Title"] = "CreateUser";
}

<h2>Add your working hours</h2>

@using (Html.BeginForm("CreateUser", "WorkTimes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="WorkingDay" class="control-label">Working Day:</label>
        <input asp-for="WorkingDay" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group">
        <label asp-for="WorkingHours" class="control-label">Working Hours:</label>
        <input asp-for="WorkingHours" type="number" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

