@model Website.Entities.WorkTime

@{
    ViewData["Title"] = "Delete";
}

<div class="main-box position-absolute translate-middle top-50 start-50 p-5">
    <h3>Are you sure you want to <strong>delete</strong> this?</h3>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group d-flex mt-4">
            <div class="me-2 fs-3">
                <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
            </div>
            <input type="submit" value="Delete" class="btn-gradient border-solid flex-fill p-2" />
        </div>
    </form>
</div>
