@model Website.Entities.WorkTime


@{
    ViewData["Title"] = "EditUser";
}

<h1>Edit your working hours</h1>

<h4>WorkTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="Id_User" class="control-label"></label>
                <select asp-for="Id_User" class="form-control" asp-items="ViewBag.Id_User"></select>
                <span asp-validation-for="Id_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDay" class="control-label"></label>
                <input asp-for="WorkingDay" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label"></label>
                <input asp-for="WorkingHours" type="number" step="0.50" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
