@model IEnumerable<Website.Entities.WorkTime>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/table.css" />

<div class="main-box p-3 d-flex justify-content-between">
    <h1>Your working hours</h1>
    <p><a asp-action="CreateUser" class="btn-gradient border-solid nav-link mt-1">Create New</a></p>
</div>
<div class="main-box p-3 mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Day</p>
                </th>
                <th>
                    <p>Hours</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingHours)
                </td>
                <td>
                    <div class="button-container text-end">
                       <a asp-action="EditUser" class="btn btn-outline-success" asp-route-id="@item.Id"><i class="fas fa-edit"></i>Edit</a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
