<li class="btn-gradient mb-2">
    <a class="nav-link text-dark" asp-controller="Applications" asp-action="Index">Application</a>
</li>

<li data-bs-toggle="collapse" data-bs-target="#flush-worktime" aria-expanded="false" class="btn-gradient mb-2">
    <a class="nav-link text-dark">Work Time <i class="fa-solid fa-chevron-down"></i></a>
</li>
<ul id="flush-worktime" class="collapse">
    <li class="btn-gradient mb-2"><a class="nav-link text-dark" asp-controller="WorkTimes" asp-action="CreateUser">Add new</a></li>
    <li class="btn-gradient mb-2"><a class="nav-link text-dark" asp-controller="WorkTimes" asp-action="IndexUser">History</a></li>
</ul>