<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Applications" asp-action="Index">Application</a>
</li>
<li>
    <div class="dropdown">
        <button class="dropdown-nav-item nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Work Time
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="" asp-controller="WorkTimes" asp-action="CreateUser">Add new</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="WorkTimes" asp-action="IndexUser">History</a></li>
        </ul>
    </div>
</li>
