@model Website.Entities.Position
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul class="list-unstyled">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@{
    ViewData["Title"] = "Delete";
}

<div class="position-absolute translate-middle top-50 start-50 main-box p-5">

    <h3 class="mb-4 text-center">Are you sure<br>you want to <strong>delete</strong> this?</h3>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group d-flex mt-4">
                <div class="me-2 fs-3">
                    <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
                </div>
                <input type="submit" value="Delete" class="btn-gradient border-solid flex-fill p-2 text-center" />
            </div>
        </form>
    </div>

</div>