html {
    font-size: 14px;

}

body {
    background-color:rgb(246, 241, 241);
}
*, a, .btn-gradient, button {
    font-family: 'Montserrat', sans-serif;
    color: rgb(88, 88, 88);
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dropdown-nav-item {
    border: inherit;
    background-color: inherit;
    color: inherit;
}

.main-box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.hg-p {
    padding: 100px 200px 100px 200px;
}

input, select {
    background-color: #9eccfd1d !important;
    border: none !important;
    border-radius: 20px !important;
}

.sidebar {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
}

.page {
    margin-left: 300px !important;
    width: calc(100vw - 300px);
    height: 100vh;
}
.btn-gradient, button {
    list-style-type: none;
    background: linear-gradient(45deg, #f8f9fa, #f8f9fa);
    border-radius: 8px;
    transition: background 0.9s;
    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.border-solid{
 border:solid 1px grey !important;    
}
button
{
    border:solid 1px;
    border-radius:5px !important;
}

.btn-gradient:hover, .menu-toggle:hover {
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    color: aliceblue !important;
}


input[readonly] {
    background-color: rgb(163, 163, 163) !important;
}
ul {
    padding: 0;
}
a{
    text-decoration:none;
}

.menu-items {
    max-height: 90vh;
    overflow-y: auto;
}

.top-error {
    z-index: 99999;
}
.menu-toggle {
    z-index: 999999999;
    background-color:white;
    border-radius:10px;
    height: 40px;
    width:40px;
    padding:12.5px;
    font-size:15px;
    line-height:15px;
    cursor: pointer;
    position:fixed;
    display: none;
    left:10px;
    top:10px;
}

.login-box{
    width:clamp(200px, 95vw, 400px);
}

@media(max-width:1500px) {
    .menu-toggle{
        display:unset;
    }
    .sidebar{
        left:-300px;
    }
    .page
    {
        margin-left:0px !important;
        width:100vw;
    }
    .sidebar-open {
        left: 0 !important;
    }
}

