@model Website.Entities.LoginData

@{
    ViewData["Title"] = "ChangeLogin";
}

<div class="main-box p-5 position-absolute top-50 start-50 translate-middle">


<h1 class="mb-5">Change your password</h1>

        @using (Html.BeginForm("SavePassword", "Account", FormMethod.Post))
        {
            <form asp-action="Change Password">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                <div class="form-group mb-3">
                    <label name="currentPassword" class="control-label fw-bold mb-2">Current Password</label>
                    <input name="currentPassword" class="form-control mt-2" type="password" required />
                </div>
                <div class="form-group mb-3 d-flex flex-column">
                    <label asp-for="Password" class="control-label mb-2 fw-bold">New password</label>
                    <input asp-for="Password" class="form-control mt-2" type="password" required />
                    <span asp-validation-for="Password" class="text-danger mt-2" style="max-width:400px"></span>
                </div>
                <div class="form-group d-flex mt-4">
                    <div class="me-2 fs-3">
                        <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
                    </div>
                    <input type="submit" value="Change Password" class="btn-gradient border-solid flex-fill p-2 text-center">
                </div>
            </form>
        }
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
