@{
    ViewData["Title"] = "Account";
}

<div class="">
    <div class="d-flex flex-wrap">
        <div class="main-box p-5 m-3 flex-fill">
            <p class="border-bottom border-primary-subtle fw-bold pb-3">Name: </p>
            <p class="pb-5">@Context.Session.GetString("U_Name")</p>
            <p class="border-bottom border-primary-subtle fw-bold pb-3">Last name: </p>
            <p class="pb-5">@Context.Session.GetString("U_LastName")</p>
            <a asp-action="ChangePassword" class="btn btn-outline-secondary">Change Password</a>

        </div>
        <div class="main-box p-5 m-3 flex-fill">
            <p class="border-bottom border-primary-subtle fw-bold pb-3">Email: </p>
            <p class="pb-5">@Context.Session.GetString("U_Email")</p>
            <p class="border-bottom border-primary-subtle fw-bold pb-3">Your role: </p>
            <p class="pb-5">@Context.Session.GetString("R_Name")</p>
        </div>
    </div>
    <div class="main-box p-5 m-3 flex-fill">
        @using (Html.BeginForm("GenerateUserReport", "Report", FormMethod.Post))
        {
            <h4 class="pb-3">Generate Report</h4>
            
            <div class="input-group mt-2">
                <label class="">Month</label>
                <input type="month" name="userSummaryMonth" class="form-control" required />
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-outline-secondary">Generate Report</button>
            </div>
        }
    </div>
    
</div>