@model Website.Models.Employment.EmploymentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmploymentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Add", "Employment", FormMethod.Post))
        {
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Manager.Name" class="control-label"></label>
                    <input asp-for="Manager.Name" class="form-control" />
                    <span asp-validation-for="Manager.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Manager.LastName" class="control-label"></label>
                    <input asp-for="Manager.LastName" class="form-control" />
                    <span asp-validation-for="Manager.LastName" class="text-danger"></span>
                </div>

            <div class="form-group">
                <label asp-for="EmploymentDate">Employment Date</label>
                <input asp-for="EmploymentDate" type="date" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Rate">Rate</label>
                <input asp-for="Rate" type="number" step="0.50" class="form-control" />
            </div>

                <div class="form-group">
                    <label asp-for="Position.Name" class="control-label"></label>
                    <input asp-for="Position.Name" class="form-control" />
                    <span asp-validation-for="Position.Name" class="text-danger"></span>
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
