@model Website.Entities.Employment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit employment</h1>

@* <h4>Employment</h4>
 *@<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "Employment", FormMethod.Post))
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <input asp-for="User.Name" class="form-control" readonly />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" readonly />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Manager</label>
                    <select asp-for="Id_Manager" class="form-control" asp-items="ViewBag.Id_User"></select>
                </div>
                <div class="form-group">
                    <label asp-for="EmploymentDate" class="control-label">Employment Date</label>
                    <input asp-for="EmploymentDate" type="date" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rate" class="control-label"></label>
                    <input asp-for="Rate" type="number" step="0.50" class="form-control" min="0.50"/>
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Position</label>
                    <select asp-for="Id_Position" class="form-control" asp-items="ViewBag.Id_Position"></select>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="margin-top: 20px;">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                </div>
            </form>
        }
    </div>
</div>

<div style="margin-top: 30px;">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
