@model Website.Entities.User
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@{
    ViewData["Title"] = "Delete";
}

<div class="main-box position-absolute translate-middle top-50 start-50 p-5">
    <h3>Are you sure you want to <strong>delete</strong> this?</h3>    
    <div class="form-group d-flex mt-4">
        <div class="me-2 fs-3">
            <a asp-action="Index" title="back"><i class="fa-solid fa-circle-left"></i> </a>
        </div>
        <div class="flex-fill">
        @using (Html.BeginForm("Remove", "User", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" class="btn-gradient border-solid w-100 p-2" />
        }
        </div>
    </div>
</div>
